body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(bg.svg) no-repeat;
  background-size: 100%;
  background-position: bottom;
  height: 100vh;

}

.project-summary{
  padding: 20px;
  background-color: rgb(222, 238, 252);
  margin-bottom: 20px;
  border-radius: 20px;
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}